---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="spill" description="an upcoming exhibition of student-made creative technical projects.">
	<main class="min-h-screen flex items-center justify-center">
		<section class="text-left">
			<h1 class="text-6xl font-bold font-heading">
				spill
			</h1>
			<p class="mt-4 text-lg font-body">
				an upcoming exhibition of student-made creative technical projects.
			</p>
			<!-- <p class="mt-4 text-lg font-body">
				projects aren't sterile or perfect, they're made by people; late nights, spilled coffee, and lots of trial & error.
			</p> -->
			</p>
		</section>
	</main>
</Layout>
